<div class="bs-component">
  <div class="jumbotron">
    <h1>らくごらいふ</h1>
    <p>”らくごらいふ”は</p>
    <p>あまらくさんの</p>
    <p>あまらくさんによる</p>
    <p>あまらくさんのための</p>
    <p>持ちネタ管理サービスです</p>
  </div>
  <div>
    ”らくごらいふ”では、アマチュア落語家のことを”あまらくさん”と呼んでいます。
  </div>
</div>
